@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic.eot");
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic.eot?#iefix") format("embedded-opentype"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic.woff2") format("woff2"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic.woff") format("woff"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Bold.eot");
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Bold.woff2") format("woff2"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Bold.woff") format("woff"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo Sans Arabic Ultra";
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Ultra.eot");
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Ultra.eot?#iefix") format("embedded-opentype"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Ultra.woff2") format("woff2"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Ultra.woff") format("woff"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Ultra.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Light.eot");
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Light.eot?#iefix") format("embedded-opentype"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Light.woff2") format("woff2"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Light.woff") format("woff"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Medium.eot");
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Medium.woff2") format("woff2"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Medium.woff") format("woff"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Black.eot");
  src: url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Black.eot?#iefix") format("embedded-opentype"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Black.woff2") format("woff2"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Black.woff") format("woff"),
    url("../../static/fonts/neo-sans-arabic/NeoSansArabic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
