$color_1: #888888;
$background-color_1: #f8f8f8;
$background-color_2: #c4c4c4;
.lesson-audio-container {
    .mejs-container {
        background-color: $background-color_1;
    }
    .mejs-controls {
        background-color: $background-color_1 !important;
        padding: 0;
        .mejs-horizontal-volume-slider {
            .mejs-horizontal-volume-total {
                background-color: $background-color_2;
            }
            .mejs-horizontal-volume-current {
                background: #000000;
            }
        }
        .mejs-time-rail {
            &:hover {
                .mejs-time-handle-content {
                    transform: translate3d(3px, 3px, 0) scale3d(1.5, 1.5, 1.5);
                    border-radius: 50% !important;
                }
            }
            .mejs-time-total {
                background-color: $background-color_2;
            }
            .mejs-time-loaded {
                background-color: $background-color_2;
            }
            .mejs-time-current {
                background: #000000;
            }
            // span {
            //     border-radius: 50% !important;
            // }
        }
    }
    .mejs-embed {
        background-color: $background-color_1;
        body {
            background-color: $background-color_1;
        }
    }
    .mejs-button {
        &.mejs-pause,
        &.mejs-play {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(138, 138, 138, 0.5);
            border-radius: 50%;
            width: 38px;
            height: 38px;
            > button {
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &.mejs-play {
            > button {
                background-image: url("../../images/play-arrow.svg");
            }
        }
        &.mejs-pause {
            > button {
                background-image: url("../../images/pause-icon1.svg");
            }
        }
        &.mejs-mute {
            > button {
                background-image: url("../../images/298-volume-mute.svg");
            }
        }
        &.mejs-unmute {
            > button {
                background-image: url("../../images/299-volume-mute2.svg");
            }
        }
        &.mejs-replay {
            > button {
                background: url("../../images/to-replay.svg") no-repeat;
            }
        }
    }
    .mejs-time {
        color: $color_1;
        height: auto;
    }
    .mejs-time-buffering {
        height: 4px;
    }
    .mejs-time-current {
        height: 4px;
    }
    .mejs-time-float {
        height: 15px;
        background: none;
    }
    .mejs-time-float-corner {
        border: 5px solid #f8f8f8;
        border-color: #000 transparent transparent;
    }
    .mejs-time-float-current {
        height: 154px;
    }
    .mejs-time-hovered {
        height: 4px;
    }
    .mejs-time-loaded {
        height: 4px;
    }
    .mejs-time-marker {
        height: 4px;
    }
    .mejs-time-total {
        height: 4px;
        margin-top: 8px;
    }
    .mejs-horizontal-volume-total {
        height: 4px;
        top: 19px;
    }
    .mejs-time-handle-content {
        // height: 4px;
        // top: -6px;
        margin-top: -3px;
        width: 10px;
        height: 10px;
        background: #000000;
        border-radius: 50%;
    }
    .mejs-time-handle {
        width: 10px;
        height: 10px;
        margin-top: -3px;
        background: #000000;
        border-radius: 50%;
        left: -4px;
        border-radius: 50% !important;
    }
    .mejs-container {
        box-sizing: border-box;
        * {
            box-sizing: border-box;
        }
    }
    .mejs-duration,
    .mejs-currenttime {
        font-weight: 400;
        font-size: 12px;
        color: #000000;
    }
    .mejs-currenttime {
        margin-left: 7px;
    }
}
// .lesson-audio-containe {
//     .mejs-controls {
//         .mejs-time-rail {
//             span {
//                 border-radius: 50% !important;
//             }
//         }
//     }
// }
