.modules-course {
    .cource-content {
        padding-top: 15px;
        @media only screen and (min-width: 769px) {
            padding-top: 72px;
        }
        .container {
            .columns {
                flex-direction: column;
                @media only screen and (min-width: 993px) {
                    flex-direction: row;
                }
                .single-modules {
                    padding-bottom: 0;
                    @media only screen and (min-width: 769px) {
                        padding-bottom: 30px;
                    }
                }
                .course-sidebar {
                    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    border: unset;
                    padding: 0;
                    max-width: 100%;
                    @media only screen and (min-width: 993px) {
                        max-width: 305px;
                    }
                }

                .accordion {
                    &-item {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                        &.accordion-item-exam {
                            border: none;
                        }
                    }
                    &-head {
                        padding-left: 20px;

                        &.active,
                        &:hover {
                            // border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                            border-bottom: unset;
                            // border-left: 6px solid #000000;
                            // transition: 0.3s;
                            h6 {
                                font-weight: 700;
                            }
                        }
                        cursor: pointer;
                        h6 {
                            font-family: $font-family-tertiary;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 0.02em;
                            text-transform: uppercase;
                            @media only screen and (min-width: 769px) {
                                font-size: 18px;
                                line-height: 24px;
                            }
                        }

                        &.active {
                            &::after {
                                transform: rotate(180deg);
                            }
                            // padding-bottom: 0;
                            // @media only screen and (min-width: 769px) {
                            //     padding-bottom: 15px;
                            // }
                        }
                        &.exam-tab-item {
                            &::after {
                                content: unset;
                                // opacity: 0.4;
                            }
                        }
                    }
                    &-content {
                        border-left: 6px solid #000000;
                        padding: 0px 0 15px 8px;
                        ul {
                            padding-left: 6px;
                            li {
                                font-family: $font-family-neo-sans-pro;
                                list-style-type: none;
                                font-weight: 400;
                                font-size: 15px;
                                line-height: 25px;
                                @media only screen and (min-width: 769px) {
                                    font-size: 16px;
                                    line-height: 28px;
                                }
                                color: #000000;
                                cursor: pointer;
                                &:hover {
                                    font-weight: 700;
                                }
                            }
                            .active {
                                font-weight: 700;
                            }
                        }
                    }
                }
                .main-content {
                    padding-right: 0;
                    width: 100%;
                    padding-left: 0;
                    @media only screen and (min-width: 993px) {
                        width: calc(100% - 275px);
                        padding-left: 20px;
                    }
                    @media only screen and (min-width: 1200px) {
                        padding-left: 70px;
                    }
                    border: unset;

                    .content {
                        max-width: 100%;
                        @media only screen and (min-width: 993px) {
                            max-width: 810px;
                        }
                        // background: #f8f8f8;
                        // border: 1px solid rgba(0, 0, 0, 0.1);
                        // box-sizing: border-box;
                    }
                    .lesson-container {
                        background: #f8f8f8;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        box-sizing: border-box;
                        &.loader-wrap {
                            background: unset;
                            border: none;
                            box-sizing: border-box;
                            .lesson-header,
                            .lesson-content {
                                display: none;
                            }
                        }
                        .lesson-wrapper {
                            position: relative;
                        }
                    }
                }
                .close-module {
                    h6 {
                        opacity: 0.4;
                        position: relative;
                        width: 100%;
                        span {
                            position: absolute;
                            top: 0;
                            right: 10px;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 24px;
                        }
                    }
                    .accordion-head {
                        &::after {
                            content: unset;
                            // opacity: 0.4;
                        }
                    }
                }
            }
        }
        .lesson-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            @media only screen and (min-width: 769px) {
                padding: 15px 32px;
            }

            span {
                font-family: $font-family-neo-sans-pro;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                cursor: pointer;
            }
            .back,
            .next {
                position: relative;
                display: flex;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;
                &:disabled {
                    &::after,
                    &::before {
                        opacity: 0.2;
                    }
                }
            }
            .next {
                padding-right: 25px;
                &::after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url("../../images/arrow-next.svg");
                    background-repeat: no-repeat;
                    right: 0;
                    // @media screen and (min-width: 769px) {
                    //     right: 30px;
                    // }
                }
            }
            .back {
                padding-left: 25px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url("../../images/arrow-back.svg");
                    background-repeat: no-repeat;
                    left: 0;
                    // @media screen and (min-width: 769px) {
                    //     right: 30px;
                    // }
                }
            }
        }
        .lesson-inner-container {
            padding: 15px;
            @media only screen and (min-width: 769px) {
                padding: 20px 32px;
            }
            border-top: 1px solid #cccccc;
            h2 {
                font-weight: 500;
                font-size: 20px;
                line-height: 16px;
                letter-spacing: 0.01em;
            }
            .module-inner-content {
                h3 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 10px;
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
                ul {
                    margin: 15px 0;
                }
            }
            .upload-file-wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                .file-button-open {
                    display: flex;
                    @media only screen and (max-width: 731px) {
                        width: 100%;
                    }
                }
                .open-btn {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: center;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: #000000;
                    padding: 15px 52px;
                    border: 1px solid #000000;
                    @media only screen and (max-width: 731px) {
                        width: 100%;
                    }
                }
                .file-info {
                    position: relative;
                    padding-left: 43px;
                    display: flex;
                    flex-direction: column;
                    padding-right: 15px;
                    margin-bottom: 30px;
                    @media only screen and (min-width: 731px) {
                        margin-bottom: 0;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 42px;
                        height: 42px;
                        background-image: url("../../images/file-icon.svg");
                        background-repeat: no-repeat;
                        left: -7px;
                    }
                    h6 {
                        font-family: $font-family-neo-sans-pro;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .file-size {
                        color: #000000;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;
                        opacity: 0.5;
                    }
                }
            }
            .upload-audio-file-wrap {
                h6 {
                    margin-bottom: 15px;
                }
            }
        }
        .video-wrapper-upload {
            width: 100%;
        }
        .gallery-slider {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            // &::before {
            //     content: "";
            //     position: absolute;
            //     width: 101px;
            //     height: 32px;
            //     background-image: url("../../images/group-15.svg");
            //     background-repeat: no-repeat;
            //     right: 15px;
            //     z-index: 2;
            //     top: 15px;
            // }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                background: #000000;
                // .gallery-fancybox {
                //     width: 100%;
                // }
                // img {
                //     display: block;
                //     width: 100%;
                // }
            }
            .gallery-fancybox {
                height: 300px;
                background: #000000;
                @media only screen and (min-width: 601px) {
                    height: 450px;
                }
                &.horizontal {
                    // width: unset;
                    img {
                        object-fit: cover;
                        display: block;
                        width: 100%;
                        // height: 100%;
                    }
                }
                &.vertical {
                    img {
                        object-fit: contain;
                        height: 100%;
                    }
                }
            }
            .swiper-counter {
                position: absolute;
                z-index: 99999;
                bottom: 5px;
                background: #f0f0f0;
                padding: 0px 40px;
                border-radius: 4px;
                left: 50%;
                -ms-transform: translateY(-50%);
                transform: translateX(-50%);
                font-family: $font-family-neo-sans-pro;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #000000;
            }
            .swiper-button-prev {
                background-image: url("../../images/arrow_back_prev.svg");
                &::after {
                    content: unset;
                }
            }

            .swiper-button-next {
                background-image: url("../../images/arrow_back_next.svg");
                &::after {
                    content: unset;
                }
            }
        }
    }

    .box {
        .course-box {
            display: none;
        }
    }
    .selected {
        .course-box {
            display: block;
        }
    }
}

.rtl {
    .modules-course {
        .cource-content {
            padding-top: 15px;
            @media only screen and (min-width: 769px) {
                padding-top: 72px;
            }
            .container {
                .columns {
                    .main-content {
                        padding-right: 0;
                        width: 100%;
                        padding-left: 0;
                        @media only screen and (min-width: 993px) {
                            padding-left: 0;
                            padding-right: 20px;
                        }
                        @media only screen and (min-width: 1200px) {
                            padding-left: 0;
                            padding-right: 70px;
                        }
                    }
                    .accordion {
                        &-head {
                            padding-left: 0;
                            padding-right: 17px;
                        }
                        &-content {
                            display: none;
                            border-left: unset;
                            border-right: 6px solid #000000;
                            padding: 15px 8px;
                            ul {
                                padding-left: 0;
                                padding-right: 5px;
                            }
                        }
                    }
                }
                .close-module {
                    h6 {
                        span {
                            left: 10px;
                            right: unset;
                        }
                    }
                }
            }
            .lesson-header {
                .next {
                    padding-left: 25px;
                    padding-right: 0;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;

                        background-image: url("../../images/arrow-back.svg");
                        background-repeat: no-repeat;
                        left: 0;
                    }
                    &::after {
                        content: unset;
                    }
                }
                .back {
                    padding-left: 0;
                    padding-right: 25px;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;

                        background-image: url("../../images/arrow-next.svg");
                        background-repeat: no-repeat;
                        right: 0;
                    }
                }
            }
        }
    }
}
