.single-course-modal {
    $color_1: #aaa;
    $color_2: #777;
    $background-color_1: #fff;

    /* Icons */
    /**
   * Modals ($modals)
   */
    /* 1. Ensure this sits above everything when visible */
    .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        fill: currentcolor;
    }
    .modal {
        position: absolute;
        z-index: 10000;
        top: 0;
        left: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
    }
    .modal.is-visible {
        visibility: visible;
        .modal-overlay {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
        }
        .modal-transition {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .modal-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.3s, opacity 0.3s;
    }
    .modal-wrapper {
        position: absolute;
        z-index: 9999;
        top: 6em;
        left: 50%;
        width: 32em;
        margin-left: -16em;
        background-color: $background-color_1;
        box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
    }
    .modal-transition {
        transition: all 0.3s 0.12s;
        transform: translateY(-10%);
        opacity: 0;
    }
    .modal-header {
        padding: 1em;
        position: relative;
        background-color: $background-color_1;
    }
    .modal-content {
        padding: 0 0 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
        > * {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 24px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #202020;
            text-align: center;
        }
        .btn-course-primary {
            background: #000000;
            border-radius: 2px;
            border: none;
            max-width: 325px;
            di
            &:first-child{
                margin: 25px 0 10px 0;
            }
        }
    }
    .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        color: $color_1;
        background: none;
        border: 0;
        &:hover {
            color: $color_2;
        }
    }
    .modal-heading {
        font-size: 1.125em;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
