.page-template-courses-inc {
    .breadcrumb {
        br {
            display: none;
        }
    }
}
.archive-courses {
    padding-bottom: 50px;
    .container {
        // outline: 1px solid red;
        width: 100%;
        max-width: 1225px;
        padding: 0 20px;
    }
    &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        @media only screen and (min-width: 566px) {
            flex-direction: row;
            gap: 25px;
        }
        @media only screen and (min-width: 1200px) {
            gap: 40px;
            justify-content: unset;
        }
    }
    .courses-categories {
        padding: 24px 0 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 25px;
        @media only screen and (min-width: 993px) {
            padding: 72px 0 40px;
            margin-bottom: 0;
            border: none;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                background: $color-light-gray;
                border-radius: 50px;
                margin-right: 12px;
                @media only screen and (min-width: 993px) {
                    margin-right: 28px;
                }
                margin-bottom: 15px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-family: $font-family-tertiary;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 16px;
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                &.active {
                    transition: 0.3s;
                    background: $color-black;
                    a {
                        color: $color-white;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}
.archive-courses-list {
    .course-item {
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        padding-bottom: 15px;
        @media only screen and (min-width: 566px) {
            flex-basis: 47%;
        }
        @media only screen and (min-width: 769px) {
            flex-basis: 31%;
        }
        @media only screen and (min-width: 1200px) {
            flex-basis: 22.46%;
        }
        background: $color-white;
        border: 0.870074px solid #f0f0f0;
        box-sizing: border-box;
        .course-item-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            .course-item-img {
                position: relative;
                height: 192px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
                @media only screen and (min-width: 566px) {
                    height: 148px;
                }
                .courses-item-category {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    display: flex;
                    flex-wrap: wrap;
                    h4 {
                        font-family: $font-family-tertiary;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 10px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: $color-black;
                        margin: 0;
                        background: linear-gradient(0deg, $color-white, $color-white),
                            linear-gradient(259.4deg, #fbcb43 -49.47%, #ffdc7a 103.79%);
                        padding: 4px;
                        margin: 0 4px 4px 0;
                        display: flex;
                        align-items: center;
                        span {
                            margin-right: 5px;
                            img {
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
            }
        }
        .course-item-desc {
            padding: 15px;
            flex: 1;
            h2 {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                margin: 0;
            }
        }
        .course-duration {
            margin: 0 15px;
            h5 {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.02em;
                margin: 0;
            }
        }
    }
}
/************************************************************
            Popular Courses
**************************************************************/
.popular-courses {
    @extend .archive-courses;
    h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }
    .archive-courses-list {
        justify-content: flex-start;
    }
}
/************************************************************
           Other Course
**************************************************************/
.other-course {
    @extend .archive-courses;
    background: $color-black;
    padding: 30px 0 100px 0;
    h2 {
        font-weight: 500;
        font-size: 28px;
        line-height: 28px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: $color-white;
        margin-bottom: 40px;
    }
    .course-item {
        background: $color-black;
        .course-item-desc {
            h2 {
                color: $color-white;
            }
            .course-duration {
                h5 {
                    color: $color-white;
                }
            }
        }
    }
}

.rtl {
    .archive-courses-list {
        .course-item {
            .course-item-img {
                .courses-item-category {
                    right: 15px;
                    h4 {
                        span {
                            margin-left: 5px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .courses-categories {
        ul {
            li {
                @media only screen and (min-width: 993px) {
                    margin-left: 28px;
                    margin-right: 0;
                }
                margin-bottom: 15px;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}
