.wp-block[data-type="dff/post-feed"] {
  width: 100%;
  max-width: 100%;
}

.postFeed .postFeed-item .postFeed-title {
  font-size: 1.375rem !important;
  margin: 0 !important;
  color: #fff !important;
  line-height: 1 !important;
}

.editor-styles-wrapper ul.postFeed--simple .postFeed-title {
  margin-top: 20px !important;
  font-size: 16px !important;
  line-height: 1.2 !important;
}
