:root {
  --ms-base: 16;
  --ms-ratio: 1.2;
}

//
// Global variables first
//
@import "utils/variables/defaults";
@import "utils/variables/colors";
@import "utils/variables/sizes";
@import "utils/mixins/aspect-ratio";

// Grid settings
@import "utils/variables/grid-settings";

// Sass Mq
// @see https://github.com/sass-mq/sass-mq
@import "sass-mq";
@import "utils/variables/breakpoints";

// Glide, from npm
@import "node_modules/swiper/src/swiper.scss";

//
// Everything else
//

// Normalize, from npm
@import "~scss-resets/resets/normalize";

// Functions
@import "utils/functions/maths";
@import "utils/functions/palette";
@import "utils/functions/strip-units";
@import "utils/functions/spacing";
@import "utils/functions/flexy";

// Mixins
@import "utils/mixins/clearfix";
@import "utils/mixins/font-size";
@import "utils/mixins/headings";
@import "utils/helpers/type";

// Base
@import "base/reset";
@import "base/reset-editor";
@import "base/shared-editor";
@import "base/base-editor";
@import "base/links";
@import "base/blockquotes";
@import "base/images";
@import "fonts/all";
@import "base/icons";
@import "base/type";

// Layout
@import "layout/page-foot";

// Blocks
@import "blocks/section/main";
@import "blocks/section/editor";
@import "blocks/column/main";
@import "blocks/column/editor";
@import "blocks/featured-posts/main";
@import "blocks/featured-posts/editor";
@import "blocks/hero/main";
@import "blocks/hero/editor";
@import "blocks/post-feed/main";
@import "blocks/post-feed/editor";
@import "blocks/tabbed-posts/main";
@import "blocks/tabbed-posts/editor";
@import "blocks/horizontal-list/main";
@import "blocks/horizontal-list/editor";
@import "blocks/icon-list/main";
@import "blocks/icon-list/editor";
@import "blocks/card/main";
@import "blocks/card/editor";
@import "blocks/timeline/main";
@import "blocks/timeline/editor";
@import "blocks/content-slider/main";
@import "blocks/content-slider/editor";
@import "blocks/title/main";
@import "blocks/title/editor";
@import "blocks/quote-banner/main";
@import "blocks/quote-banner/editor";
@import "blocks/post-type-archive/main";
@import "blocks/post-type-archive/editor";
@import "blocks/sub-menu/main";
@import "blocks/sub-menu/editor";
@import "extended-blocks/quote/main";
@import "extended-blocks/separator/main";
@import "extended-blocks/video-embed/main";
@import "extended-blocks/social-icons";
@import "blocks/map";
@import "blocks/image-slider/editor";
@import "blocks/image-slider/main";
@import "blocks/triangle-block/editor";
@import "blocks/triangle-block/main";

// components
@import "components/button/all";
@import "components/postlist/main";
@import "components/post-media-select";
@import "components/position-selector";
@import "components/icon-group";
@import "components/spacing-selector";

// Helpers
@import "utils/helpers/spacing";
@import "utils/helpers/type";
@import "utils/helpers/display";
@import "utils/helpers/layout";
@import "utils/helpers/colors";
@import "utils/helpers/borders";
@import "utils/helpers/fluid";

// Editor fixes
@import "editor/fixes";

// Disable the block editor core color pallette
.block-editor-panel-color-gradient-settings {
  display: none;
}

.block-editor-url-input__button {
  position: relative;

  .block-editor-url-input__button-modal {
    position: absolute;
    right: 0;

    .components-base-control.block-editor-url-input .components-base-control__field {
      margin-bottom: 0;
    }
  }
}
