.archive-courses,
.single-course {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family-neo-sans-pro;
        color: $color-black;
        font-style: normal;
        margin: 0;
    }
    a {
        color: $color-black;
    }
    p {
        font-family: $font-family-neo-sans-pro;
        font-style: normal;
        color: $color-black;
        margin: 0;
    }
    ul {
        margin: 0;
        // padding: 0;
    }
}

.dark-mode .archive-courses,
.dark-mode .single-course {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-white;
    }
    a {
        color: $color-white;
    }
    p {
        color: $color-white;
    }
}

.cource-content{
    @extend .archive-courses;    
}



.dff-btn {
    font-family: $font-family-tertiary;
    color: $color-black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    padding: 15px;
    display: inline-block;
    border: 2px solid $color-black;
    &:focus {
        background-color: rgba(51, 51, 51, .1);
        background-color: var(--color-primary-transparent);
        color: var(--color-primary);
    }
}

.dark-mode {
    .dff-btn, a.dff-btn {
        color: $color-black;
        border: 1px solid $color-white;
        background-color: $color-white;
    }
}