.u-bg-pos-y--center {
  background-position-y: center !important;
}

.u-bg-pos-y--top {
  background-position-y: top !important;
}

.u-bg-pos-y--bottom {
  background-position-y: bottom !important;
}

.u-bg-pos-x--center {
  background-position-x: center !important;
}

.u-bg-pos-x--left {
  background-position-x: left !important;
}

.u-bg-pos-x--right {
  background-position-x: right !important;
}
