.wp-block[data-type="dff/post-type-archive"] {
  width: 100%;
  max-width: 100%;
}

.components-panel__row label.components-base-control__label {
  max-width: 100%;
}

.archivePosts h1.archivePosts-title {
  font-size: 22px !important;
  line-height: 1.27 !important;
}
