$font-family-primary:   "Neo Sans Arabic", Helvetica, Arial, sans-serif;
$font-family-secondary: "Roboto", Helvetica, Arial, sans-serif;
$font-family-tertiary: "Gilroy", Helvetica, Arial, sans-serif;
$font-family-neo-sans-pro: "Neo Sans Pro", Helvetica, Arial, sans-serif;