$font-family-primary:   "Neo Sans Arabic", Helvetica, Arial, sans-serif;
$font-family-secondary: "Roboto", Helvetica, Arial, sans-serif;
$font-family-tertiary: "Gilroy", Helvetica, Arial, sans-serif;
$font-family-neo-sans-pro: "Neo Sans Pro", Helvetica, Arial, sans-serif;

$color-black: #000000;
$color-white: #ffffff;
$color-light-gray: #F0F0F0;