.wp-block[data-type="dff/tabbed-posts"] {
  width: 100%;
  max-width: 100%;
}

.tabbedPosts.is-tabbedSingle.is-sidebarDisabled[data-alignment="center"] {
  ul {
    justify-content: center;
  }
}

.tabbedPosts.is-tabbedSingle.is-sidebarDisabled[data-alignment="right"] {
  ul {
    justify-content: right;
  }
}

.tabbedPosts h1.tabbedPost-title {
  font-size: 22px !important;
  line-height: 1.27 !important;
  margin: 0;
  margin-bottom: 8px;
  color: #fff;
}
